POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=makerbox
POSTGRES_USER=admin
POSTGRES_PASSWORD=superclave456
POSTGRES_APP_USER=backend
POSTGRES_APP_PASSWORD=clave456
SECRET_KEY=super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
POSTGRES_USER_SOL=sol_user
POSTGRES_PASSWORD_SOL=sol_pass
POSTGRES_USER_EST=est_user
POSTGRES_PASSWORD_EST=est_pass
POSTGRES_USER_AYU=ayu_user
POSTGRES_PASSWORD_AYU=ayu_pass
POSTGRES_USER_PRO=pro_user
POSTGRES_PASSWORD_PRO=pro_pass
POSTGRES_USER_ADM=adm_user
POSTGRES_PASSWORD_ADM=adm_pass
